.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov
env/

*.tern-port
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo
.npm
.eslintcache

lib/
autobinds/
*.cmt
*.bs.mjs
